// Login modal
div.modal.hide.fade#loginModal(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3#loginModalLabel Log In
  div.modal-body(ng-controller='UserCtrl')
    form.css-form#loginForm(name='loginForm')
      p Hacker School e-mail:
      input(type='email', name='email', placeholder='me@mydomain.com', ng-model='email', required)
      br
      span.text-error(ng-show='loginForm.email.$error.email') Invalid e-mail address. (Please use your Hacker School e-mail address.)
      p Hacker School password:
      input(type='password', name='password', placeholder='Password', ng-model='password', required)
      br
      input(type='hidden', name='_csrf', id='csrf-token', value=token)
      p.text-error(ng-show='loginForm.$error') {{loginError}}
      br
      button.btn.btn-success(ng-click='login()') Log in
      button.btn.pull-right(data-dismiss='modal', aria-hidden='true') Close

