// Books checked out modal
div.modal.hide.fade#myBooksModal(tabindex='-1', role='dialog', aria-labelledby='myBooksModalLabel', aria-hidden='true', ng-controller='UserCtrl')
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3#myBooksModalLabel My Books
  div.modal-body
    ul.books-out.span6
      p(ng-class="{'hidden' : books.length > 0}") No books currently out.
      li(ng-repeat='book in books') {{book.title + " (" + book.isbn + ")"}}
        form.css-form#returnForm(name='returnForm', method='post', action='/return')
          button.btn.btn-mini.btn-success.pull-right.pull-up(type='submit', ng-class="{'hidden' : books.length < 1}") Return
          input(type='hidden', name='title', value='{{book.title}}')
          input(type='hidden', name='isbn', value='{{book.isbn}}')
          input(type='hidden', name='_csrf', id='csrf-token', value=token)
  div.modal-footer
    button.btn.pull-right(data-dismiss='modal', aria-hidden='true') Close

