// Yak shaving
div.logo-container.pull-right
  div.monitor
    div.screen
      div.dot#one
      div.dot#two
      div.dot#three
      div.dot#four
      div.dot#five
      div.dot#six
      div.dot#seven
  div.machine
  div.keyboard
    div.dot#eight
    div.dot#nine
    div.dot#ten
    div.dot#eleven
    div.dot#twelve
    div.dot#thirteen
    div.dot#fourteen
    div.dot#fifteen
    div.dot#sixteen
    div.dot#seventeen
    br

