div.row.books-container(ng-controller='BookCtrl')
  include _detail_modal
  div.span7.offset4
    form.form-search.offset2
      input(type='text', placeholder='Search', ng-model='searchText').input.search-query

    ul.books
      li(ng-repeat='book in books | filter: searchText')
        i.icon-book
        span(ng-class="{'unavailable-detail' : !book.available}") {{" " + book.title + " (" + book.available + " of " + book.quantity + " available)"}}
        a.btn.btn-mini.btn-success.pull-right.span1.book-title(href='/{{$index}}/#detail', data-toggle='modal', ng-click='fetch($event)') Details
        br
        br

