// Book detail modal
div.modal.hide.fade#detail(tabindex='-1', role='dialog', aria-labelledby='detailModalLabel', aria-hidden='true')
  div.modal-header(ng-model='titleIndex')
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3#detailModalLabel {{bookTitle}}
  div.modal-body
    form.css-form#checkoutForm(name='checkoutForm', method='post', action='/checkout')
      div.detail-left-column(ng-model='bookCoverLink')
        img(src='{{bookCoverLink}}')
        br
        input(type='hidden', name='ISBN', value='{{bookIsbn}}')
        button(type='submit', ng-class="{'disabled unavailable-link' : !bookIsAvailable}").btn.btn-success.pull-left.push-down {{bookIsAvailable && "Check out" || "Checked out"}}
      div.detail-right-column.span4(ng-model='bookDescription')
        p(ng-model='bookDescription') {{bookDescription}}
  div.modal-footer(ng-model='bookInfoLink')
    a(href='{{bookInfoLink}}', target='_blank').btn.btn-success View on Google Books
    button(type='button', data-dismiss='modal', aria-hidden='true').btn.pull-right Close

