header.navbar.navbar-fixed-top.navbar-inverse
  div.navbar-inner
    div.container
      a.logo(href='/') HS Library
      nav.login
        ul.nav.pull-right
          // Trigger login modal
          a.logo(href='#modal', role='button', data-toggle='modal') Log In

// Login modal
div.modal.hide.fade#modal(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
    h3#modalLabel Log In
  div.modal-body
    form
      p E-mail:
      input(type='text', name='name')
      br
      p Password:
      input(type='password', name='password')
  div.modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close
    button.btn.btn-success Log In

