header.navbar.navbar-fixed-top.navbar-inverse
  div.navbar-inner
    div.container
      a.logo(href='/') Zenodot.us
      - if (cookieValid) {
          include _settings
      - } else {
          include _signup
      - }

