nav.settings
  div.dropdown.pull-right
    a.logo.dropdown-toggle(data-toggle='dropdown', id='dLabel', role='button', href='#') Settings
    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
      a.text-success(href='/settings') Settings
      br
      a.text-success(href='/logout') Log out

