// Settings modal
div.modal.hide.fade#settingsModal(tabindex='-1', role='dialog', aria-labelledby='settingsModalLabel', aria-hidden='true', ng-controller='UserCtrl')
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3#settingsModalLabel Settings
  div.modal-body
    h4 Username:
    p #{currentUser.email}
    h4 Books out:
    ul.books-out.span4
      each book in currentUser.books
        li= book
          a.btn.btn-mini.btn-success.pull-right(href='#') Return
          br
          br
  div.modal-footer
    button.btn.pull-right(data-dismiss='modal', aria-hidden='true') Close

