doctype 5
html(ng-app)
  head
    title Hacker School Library

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    script(src='lib/angular/angular.min.js')
    script(src='book.js')

    body
      div.hero-unit
        h1 Hacker School Library
        p.lead.indent Programming books and resources

      div.row
        div(ng-controller='BookCtrl')
          p.lead.notification We currently have {{count()}} and counting.

          ul
            li(ng-repeat='book in books')
              {{book.text}}

