doctype 5
html(ng-app='zenodotus')
  head
    title Hacker School Library

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/logo.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='js/bootstrap.min.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular/angular-resource.min.js')
    script(src='book.js')
    script(src='user.js')

  body
    include _header
    include _login_modal
    include _signup_modal

    div.hero-unit
      h1 Hacker School Library
      p.lead.indent Programming books and resources

      include _logo

    div.row(ng-controller='BookCtrl')
      div
        p.lead.notification We currently have {{count()}} and counting.

    - if (cookieValid) {
        include _books
    - } else {
        a(href='/#loginModal', role='button', data-toggle='modal').btn.btn-success.btn-large.span3.offset6 Check them out!
    - }

