doctype 5
html(ng-app='zenodotus')
  head
    title Hacker School Library

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/logo.css')
    script(src='js/jquery-2.0.2.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/custom.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular/angular-resource.min.js')
    script(src='book.js')
    script(src='user.js')

  body
    include _header
    include _login_modal
    - if (cookieValid) {
        include _my_books_modal
    - }

    div.hero-unit
      h1.big-indent Hacker School Library
      p.lead.big-indent.indent Programming books and resources

      include _logo

    div.row(ng-controller='BookCtrl')
      div
        p.lead.notification We currently have {{count()}} and counting.

    - if (cookieValid) {
        include _books
    - } else {
        a(href='/#loginModal', role='button', data-toggle='modal').btn.btn-success.btn-large.span1.offset7 Log in
    - }

  - if (cookieValid && currentUser && currentUser.admin) {
      include _book_form
  - }

  include _footer

