doctype 5
html(ng-app)
  head
    title Hacker School Library

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')

    body
      div.hero-unit
        h1 Hacker School Library
        p.lead Welcome to the Hacker School library!

      div.row
        div.span12
          li(ng-repeat='book in books')

