doctype 5
html(ng-app='zenodotus')
  head
    title Hacker School Library

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='js/bootstrap.min.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular/angular-resource.min.js')
    script(src='book.js')

  body
    include _header

    div.hero-unit
      h1 Hacker School Library
      p.lead.indent Programming books and resources

    div.row(ng-controller='BookCtrl')
      div
        p.lead.notification We currently have #{books.length} books and counting.

    div.row
      div.span7.offset4(ng-controller='BookCtrl')
        p
          - each book in books
            i.icon-book
            = " " + book.title + " "
            i.icon-chevron-right  
            = " " + "Quantity: " + book.quantity
            i.icon-chevron-right
            - if (book.quantity) {
            = " Available!"
            - } else {
            = " Not currently available."
            - }
            a.btn.btn-success.btn-mini.pull-right(href='#') Check out
            br
            br

