/* General */

.notification {
  text-align: center;
}

.indent {
  margin-left: 3px;
}

li a:hover {
  text-decoration: none;
}

/* Header */

.logo {
  float: left;
  margin-left: -105px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.logo:focus {
  color: #fff;
  text-decoration: none;
}

.settings {
  margin-right: -108px;
}

.dropdown ul a {
  margin-left: 5px;
}

.dropdown a:hover {
  text-decoration: none;
}

.signup {
  margin-right: -118px;
}

/* Books */

.books-container {
  padding-bottom: 50px;
}

.books {
  list-style-type: none;
}

.unavailable-detail {
  opacity: 0.5;
}

.unavailable-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.detail-left-column {
  float: left;
}

.detail-right-column {
  float: right;
}

.push-down {
  margin-top: 8px;
}

/* Admin */

.add-books {
  padding-bottom: 120px;
}

/* Footer */

footer {
  position: fixed;
}

.node-logo {
  width: 12%;
  height: 12%;
  margin-left: -110px;
}

