/* General */

.notification {
  margin-left: 20px;
  text-align: center;
}

.indent {
  margin-left: 3px;
}

.big-indent {
  margin-left: 100px;
}

.big-indent.indent {
  margin-left: 103px;
}

li a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.pull-up {
  margin-top: -21px;
}

#login-btn {
  display: block;
  margin: 0 auto;
  width: 80px;
}

/* Header */

.logo {
  float: left;
  margin-left: -105px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.me-view {
  margin-right: -160px;
}

.dropdown-menu.right {
  left: auto;
  right: 0;
}

/* Books */

.books-container {
  padding-bottom: 50px;
}

.books, .books-out {
  list-style-type: none;
}

.unavailable-detail {
  opacity: 0.5;
}

.unavailable-link {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.detail-left-column {
  float: left;
}

.detail-right-column {
  float: right;
}

.push-down {
  margin-top: 8px;
}

/* Admin */

.add-books {
  padding-bottom: 120px;
}

/* Footer */

footer {
  position: fixed;
}

.node-logo {
  width: 12%;
  height: 12%;
  float: right;
  margin-right: -110px;
}

